<div>
    <h1>Winning Rate</h1>
    <p>ウイニングイレブンのRate変動を視覚的に表現するサービス</p>
    <%= link_to '新規登録', '#', class: 'btn btn-outline-dark' %>
    <br>
    <%= link_to 'ログイン', '#', class: 'btn btn-outline-dark' %>
</div>
