<div class="top-wrapper">
    <div class="top-inner-text">
      <img src="<%= asset_pack_path 'media/images/logo.png' %>">
      <p>ウイニングイレブンのRate変動を<br>視覚的に表現するサービス</p>
    </div>
</div>
<div class="row justify-content-around mt-5">
    <div class="col-sm-4">
        <img src="<%= asset_pack_path 'media/images/top.gif' %>" class="img-fluid">
        <p class="m-3">グラフをクリックして、月別のグラフを見ることができます。戦績を登録した翌月以降に再度戦績を登録することで、グラフが追加されます。</p>
    </div>
    <div class="col-sm-4">
        <img src="<%= asset_pack_path 'media/images/top.png' %>" class="img-fluid">
        <p class="m-3">グラフを見るだけでどのくらい上達したのか一目でわかります。</p>
    </div>
</dv>
