<div style="margin: 0 auto; width: 500px">
    <canvas id="myChart" height="300"></canvas>
    <canvas id="myChart1" height="300"></canvas>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= @data.map {|d|d.to_s + '月'}.to_json.html_safe %>,
        datasets: [{
            label: 'Rate',
            data: <%= @data.map {|d|@month.where(month: d).order(created_at: :desc).limit(1).pluck(:rate)}.flatten %>
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx1 = document.getElementById('myChart1').getContext('2d');
var myChart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: <%= @data.map {|d|d.to_s + '月'}.to_json.html_safe %>,
        datasets: [{
            label: '勝率',
            data: <%= @data.map {|d|@month.where(month: d).order(created_at: :desc).limit(1).pluck(:win_rate)}.flatten %>
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: 100
                }
            }]
        }
    }
});
</script>
