<div class="text-center">
    <div class="d-inline-flex flex-column">
        <%=link_to '過去作の戦績を入力', '#', class: 'btn btn-primary mb-3' %>
        <%= link_to '現在の戦績を入力', '#', class: 'btn btn-primary' %>
    </div>
</div>