@import 'top';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    margin-top: 5rem;
}

.chart-wrapper {
    margin: 0 auto;
    width: 425px;
}

@media screen and (max-width: 425px) {
    .chart-wrapper {
        width: 100%;
    }
}

.or {
    display: flex;
    align-items: center;
    color: lightgray;
}

.or::before, .or::after {
    content: '';
    height: 1px;
    background-color: lightgray;
    flex-grow: 1;
}

.or::before {
    margin-right: 1rem;
}

.or::after {
    margin-left: 1rem;
}

.btn-twitter {
    color: #fff;
    background-color: #1da1f2;
}

.btn-twitter:hover {
    color: #fff;
    opacity: 0.9;
}