@import 'top';
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.chart-wrapper {
    margin: 0 auto;
    width: 425px;
}

@media screen and (max-width: 425px) {
    .chart-wrapper {
        width: 100%;
    }
}

.password-reset {
    font-size: 1.5rem;
    text-align: center;
}

.border {
    border-top: thin solid lightgray;
}