.top-wrapper {
    background-color: #e9ecef;
    height: 100vh;
    position: relative;

    .top-inner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;

        p {
            font-size: 1.25rem;
        }

        @media screen and (max-width: 767px) {

            p {
                font-size: 0.9rem;
            }
        }
    }
}
